html {
    font-family: 'Neucha', cursive;
    font-size: 16px;
}

body {
    background-color: whitesmoke;
}

#name-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60vw;
    margin-bottom: 30px;
}

#game-container {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 5px;
    column-gap: 5px;
    width: 60vw;
    height: 60vh;
    box-shadow: 0px 3px 6px 5px #0000001f;
    margin-bottom: 50px;
    border-radius: 5px;
}

.grid-square {
    background-color: #F6E8EA;
    font-size: 4.2rem;
}

.grid_square-player1 {
    color: #BC4749;
    font-size: 4.7rem;
}

.grid_square-player2 {
    color: #05A8AA;
    font-size: 4.7rem;
}

button {
    background-color: #F6E8EA;
    border: none;
    font-family: 'Neucha', cursive;
}

#button_start {
    border: 3px solid #7C77B9;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0px 3px 4px 2px #0000001f;
    font-size: 1.7rem;
}

.button_CTA {
    align-self: flex-end;
    font-size: 1.3rem;
    background-color: #7C77B9;
    color: whitesmoke;
    padding: 5px 20px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

header {
    text-align: center;
}

main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    text-align: center;
}

.modal {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    z-index: 200;
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px 5px #0003;
    padding: 20px;
    animation: 0.5s slidein;
}

.modal label {
    margin: 20px 0px;
}

.modal input {
    margin-left: 20px;
}

.modal_backdrop {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #F6E8EAF2;
}

/* ------------------------------------------------------------------------------------------
                                    ANIMATIONS            
    ----------------------------------------------------------------------------------------------- */

    @keyframes slidein {
        from {
            transform: translate(0, 100px);
            opacity: 10%;
        }

        to {
            transform: translate(0, 0);
            opacity: 100%;
        }
    }
